@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --background-color: #ffff;
  --text-color: black;
  --text-color-lite: rgb(65, 65, 65);
  --font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}
::-webkit-scrollbar {
  display: none;
}

.link {
  text-decoration: none;
  color: var(--text-color);
}

// Header styles
.header {
  position: fixed;
  width: 100%;
  z-index: 1000;

  .nav-contact {
    background-color: rgb(253, 161, 161);
  }

  @media screen and (max-width: "420px") {
    .nav-contact {
      flex-direction: column;
    }
  }

  .toggle-btn {
    font-size: 12px;
    padding: 6px 8px;
  }

  .nav-link {
    font-size: 1.15rem;
    font-weight: 600;
    color: var(--text-color);
  }

  .nav-link:hover .link {
    color: darkblue;
  }
}

// Home page styles
.home {
  padding-top: 8.5rem;

  .container {
    .description-container {
      padding: 2rem 4rem;

      h1 {
        font-size: 2rem;
        font-weight: 700;
        position: relative;
        display: inline-block;
      }

      h1::after {
        content: "";
        position: absolute;
        left: 5%;
        bottom: -12px; /* Adjust this value to increase or decrease the space */
        width: 90%;
        height: 2px; /* Adjust this value to change the thickness of the underline */
        background-color: gray;
      }

      p {
        font-weight: 500;
        font-size: 1.1rem;
        color: var(--text-color-lite);
      }
    }

    section {
      padding: 2rem 3rem;

      p {
        font-weight: 500;
      }
    }

    @media screen and (max-width: "992px") {
      .description-container {
        padding: 2rem 1rem;
      }

      section {
        padding: 1rem;
      }
    }
  }
}

// Gallery Page Styles
.gallery {
  padding: 10rem 20px 20px;
  background-color: #f5f5f5;

  .gallery-heading {
    font-size: 2.5em;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  .gallery-container {
    max-width: 85%;
    // margin: 0 auto;
    padding: 20px;
    border: 1px solid rgb(236 177 37);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: #fff;

    .image-gallery-slide img {
      height: 300px;
      object-fit: cover;
      border-radius: 8px;
    }
    .image-gallery-thumbnail img {
      height: 60px; 
      object-fit: cover;
      border-radius: 4px;

    }
    .image-gallery-left-nav,
    .image-gallery-right-nav {
      display: none;
    }
  }
}

.basith-class {
  margin: 2rem;
}
